- content_for :title do
  Artists

%header
  .container
    .row
      .col-md-12
        %h1 Artists
.container
  .row
    .col-md-12
      .pagination-wrapper
        = paginate @people
  .row
    .col-md-12
      = render partial: "people/people", object: @people, locals: {link: false}
  .row
    .col-md-12
      .pagination-wrapper
        = paginate @people

= render partial: "site/footer"
