- content_for :title do
  People

%header
  .container
    .row
      .col-md-12
        %h1 People
.container
  .row
    .col-md-12
      = render partial: "people/people", object: @people

= render partial: "site/footer"