- content_for :title do
  Issues

%header
  .container
    .row
      .col-md-12
        %h1 Issues
        .blurb
          In recent years Auckland Armageddon at Labour Weekend has become the place to launch new issues. Our plan is to move toward a 9 monthly release circle, and our ambition every 6 months! As the publication is a voluntary effort this comes down to the time and energy the Editor and team can put into making each issue happen.

          Our current Funtime Comics Editorial team
          
          Editor - Jason Lennie
          Sub-Editor - Mary Tamblyn 
          Proofing - Ren ver der Tang, Sarah Lund
          Website - Isaac Freeman 
.container
  .row
    .col-md-12
      .pagination-wrapper
        = paginate @issues
  .row
    .col-md-12
      = render partial: "issues/issues", object: @issues
  .row
    .col-md-12
      .pagination-wrapper
        = paginate @issues

= render partial: "site/footer"
