#carousel-pages.carousel.slide
  .carousel-inner
    - if show_warning
      .item.active.warning_page
        %h2 Warning
        This
        = collection_name
        is rated blue, and is suitable for adults only.
    - pages.each_with_index do |page, i|
      - prev_page_id = i == 0 ? nil : pages[i-1].id
      - next_page_id = i == pages.size - 1 ? nil : pages[i+1].id
      .item{:class => ("active" if i==0 && !show_warning), "data-page-id" => page.id, "data-next-page-id" => next_page_id, "data-prev-page-id" => prev_page_id}
        = "Page #{page.story_page_number} goes here"
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-pages"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-pages"}
    %span.icon-next
