- content_for :title do
  Stories

%header
  .container
    .row
      .col-md-12
        %h1 Stories
.container
  .row
    .col-md-12
      = render partial: "stories/stories", object: @stories, person: nil

= render partial: "site/footer"