- content_for :title do
  Ratings

%header
  .container
    .row
      .col-md-12
        %h1 Issue 27
.section
  .container
    .row
      .col-md-12
        Info about Issue 27

= render partial: "site/footer"
