- content_for :title do
  Page Not Found

%header
  .container
    .row
      .col-md-4.col-md-offset-4
        %h1 404 - Not Found
        %p You may have mistyped the address or the page may have moved.
