- content_for :title do
  Rejected

%header
  .container
    .row
      .col-md-4.col-md-offset-4
        %h1 422 - The change you wanted was rejected
        %p Maybe you tried to change something you didn't have access to.
