- content_for :title do
  Internal Server Error

%header
  .container
    .row
      .col-md-4.col-md-offset-4
        %h1 500 - Internal server error
        %p We're sorry, but something went wrong.
