%header
  .container
    .row
      .col-md-12
        %h1 Contacting Funtime
.container
  .row
    .col-md-12
      %h2 By email
      funtime@comics.org.nz
      %h2 By snail mail
      10 Ashmole Street, Woolston, Christchurch 8023, New Zealand
.container
  .row
    .col-md-12
      %h2 Submissions      
      %ul
        %li
          Funtime is published in an A5 portrait format (148 mm wide, 210 mm high) format.  We can take submissions in other formats, but they'll be shrunk to fit this size.  Be careful that your lettering will still be readable at this size - people hate having to use a magnifying glass to read their comics.
        %li
          Funtime artwork is black and white.
        %li
          For paper submissions, write your name on the back of each page as well as a page number if your contribution is longer than one page, so we don't get the order wrong.
        %li
          For digital submissions, make sure the file names include numbers to show their order.
        %li
          Please try not to send any work that might get us arrested.
        %li
          Include contact details, and biographical information with your submission.  A small self-portrait is also handy.
        %li
          Submission of artwork is taken to imply that the contributor gives permission for their work to be published in our anthology, and that short excerpts may be used for the promotion of the anthology as the editor sees fit.  If you have specific requirements for how your work should be used, please let us know.
