- content_for :title do
  Submissions

%header
  .container
    .row
      .col-md-12
        %h1 Submissions

.section
  .container
    .row
      .col-md-12
        %p
          We take submissions, both for this website, and for occasional print publications.

        %ul
          %li
            Artwork for the website will be sized to 1024 pixels wide, colour or black and white. In print, we usually publish in A5 portrait (148 mm wide, 210 mm high) format, black and white. Be careful that your lettering will still be readable – people hate having to use a magnifying glass to read their comics.
          %li
            For paper submissions:
            %ul
              %li Write your name on the back of each page 
              %li Include a page number if your contribution is longer than one page, so we don't get the order wrong. It's OK to pencil this on the back if you prefer not to have it on the front.
              %li We have an A4 scanner, so we prefer work no larger than that. If your work is larger, we'll need to scan it in parts and reassemble it.
          %li
            For digital submissions:
            %ul
              %li Make sure file names include numbers to show their order.
              %li Give us good large files: we like to work at 600DPI, which is 4960&times;7016 pixels for an A4 page.
          %li
            Please try not to send any work that might get us arrested. We reserve the right not to publish.
          %li
            If you haven't published with us before, we'll also need the following:
            %ul
              %li A self portrait. This needs to be square, and will appear in two sizes: 100&times;100 and 300&times;300. Note that it'll be put in a circular frame, so the corners won't be visible.
              %li Some bio text. If we don't get this, we'll make up who we think you should be.
              %li Contact details
          %li
            Submission of artwork is taken to imply that the contributor gives permission for Funtime Comics to use your work as we see fit. In particular, you should be aware that we sometimes use short excerpts for promotions, and in print we sometimes split long works over multiple issues.  If you have specific requirements for how your work should be used, please let us know.
          %li
            We normally keep paper submissions, but we can return them to you if asked. Unless you say otherwise, we'll keep a scanned digital file.
