%header
  .container
    .row
      .col-md-12
        %h1 Workshops
.container
  .row
    .col-md-8
      %h2 Workshops
      %p
        On the second Saturday of each month comic artists meet for quality drawing time in the company of their fellows. Some people bring their own work in progress, others just paper and pens. We have a long tradition of jam comics and other collaborative work, so even if you don't have an idea ready to work on, we can usually provide a half-finished story you can contribute to.
      %p
        Newcomers are always welcome, and will be granted the respectful title of "New Boy" or "New Girl" until such time as they are deemed to be regulars.

      %h3 When

      %h3 Where
      The location sometimes varies, so e-mail us at funtime@comics.org.nz to find out where we'll be.

      %h3 What to bring
      
    .col-md-4
      <!-- images go here -->
