$colour-rating_unrated: #aaaaff
$colour-rating_green: #aaffaa
$colour-rating_yellow: #ffffaa
$colour-rating_red: #ffaaaa
$colour-rating_blue: #aaaaff
$default-border-radius: 5px
$colour-link-normal: #1e7944
$colour-link-hover: #1e7944
$colour-link-active: #1e7944
$colour-link-visited: #1e7944
$colour-link-focus: #1e7944
$colour-highlight: #e6e546
// $colour-background: #f3f0f1
$colour-background: red
$colour-navbar: #231f20
