@import "compass"
@import "compass/css3"
@import "_variables"

.issue
  a
    display: block
  .issue-image
    @include border-radius(2px)
    background: black
    position: relative
    margin-bottom: 1em
    z-index: 2
    img
      @include border-radius(2px)
      width: 100%
  .issue-image:before,
  .issue-image:after
    position: absolute
    top: 1%
    height: 98%
    content: ' '
    z-index: -1
  .issue-image:before
    @include border-radius(2px)
    width: 100%
    left: 2%
    background-color: #aaaaaa
  .issue-image:after
    width: 1%
    left: 100%
    background-color: #ffffff
    box-shadow: inset 0px 0px 5px #aaa
    -moz-transform: rotateY(20deg)
    -webkit-transform: perspective(100) rotateY(20deg)

.most_recent_issue
  @include border-radius(0.25em)
  background: black
  display: block
  overflow: hidden
  text-align: center
  padding: 1em
  margin-bottom: 1em
  h2
    margin-top: 0
    a
      color: $colour-highlight
      &:visited
        color: $colour-highlight
