/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 */

@import "compass"
@import "compass/css3"
@import "_variables"
// @import "compass/reset"

body
  // background: $colour-background url(image_path('greyfloral.png')) 0 0 repeat
  background: red, yellow
  font-family: 'Archivo Narrow', sans-serif
  font-size: 16px
  line-height: 1.25


a
  +link-colors($colour-link-normal, $colour-link-hover, $colour-link-active, $colour-link-visited, $colour-link-focus)
  &:hover
    background: transparent

ul
  padding: 0
  ul
    margin-left: 2em

.section
  padding: 0 0 2em 0
  &#pages
    background: #eeeeee

.navbar
  @include border-radius(0)
  border: none
  background: $colour-navbar
  margin: 80px 0 20px 0
  font-family: 'Mouse Memoirs', sans-serif
  font-size: 24px
  line-height: 1
  letter-spacing: 1px
  @media screen and (min-width: 768px)
    margin-bottom: 70px
  .navbar-nav>li>a
    color: white
    &:hover
      color: $colour-highlight
  .navbar-nav>.active>a
    color: $colour-highlight
  .navbar-header
    .navbar-toggle
      border: solid 2px white
      color: white
    .navbar-brand
      height: 0
      .logo
        margin-top: -39px
        width: 100px
        @media screen and (min-width: 768px)
          margin-top: -63px
          width: 150px
        @media screen and (min-width: 992px)
          margin-top: -85px
          width: 200px
  .navbar-collapse
    border: 0

header
  margin-top: -200px
  margin-bottom: 2em
  min-height: 170px
  max-height: 500px
  overflow: hidden
  h1
    text-align: center
    margin: 150px 0 0 0
    line-height: 1
  .header_image
    img
      width: 100%

footer
  margin-top: 2em
  background: black
  color: white
  h1, h2, h3
    color: #ebe239

.photo_group
  img
    width: 360px
    max-width: 100%
    float: left

.row.creators
  text-align: center
  .people
    padding: 0
    .person
      min-width: 165px
      margin-bottom: 1em

.carousel-control
  width: 50%
  .icon-prev,
  .icon-next
    @include border-radius(50%)
    border: solid 2px white
    line-height: 0
    display: none
  .icon-prev
    left: 1em
    right: auto
  .icon-next
    left: auto
    right: 1em
  &:hover
    .icon-prev,
    .icon-next
      display: block
      background: black
      color: white

.carousel-control.left
  background: none
  &:hover
    @include background(linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0.0001)))

.carousel-control.right
  background: none
  &:hover
    @include background(linear-gradient(left, rgba(0,0,0,0.0001), rgba(0,0,0,0.5)))

.adr
  padding-left: 1em

.filters
  text-align: center
  select
    width: 7em

.pagination-wrapper
  text-align: center
