@import "compass"
@import "_variables"

.story,
.featured_story
  float: left
  margin-bottom: 1em
  list-style: none
  .thumbnail
    position: relative
    margin: 0 auto
    background: white
    border: solid 4px #dddddd
    max-width: none
    overflow: hidden
    padding: 0
  &.length-empty .thumbnail
  &.length-one_page .thumbnail
  &.length-short .thumbnail
    @include box-shadow(#aaaaaa 2px 2px 0)
  &.length-medium .thumbnail
    @include box-shadow(#aaaaaa 4px 4px 0)
  &.length-long .thumbnail
    @include box-shadow(#aaaaaa 6px 6px 0)
  &.length-epic .thumbnail
    @include box-shadow(#aaaaaa 8px 8px 0)
  a
    width: 100%
.story
  text-align: center
  height: 130px
  .thumbnail
    width: 100px
    height: 100px
.featured_story
  text-align: left
  height: 230px
  .thumbnail
    width: 200px
    height: 200px

.rating
  display: inline-block
  width: 0.5em
  height: 0.5em
  vertical-align: middle
  @include border-radius(50%)
  overflow: hidden
  text-indent: -10000em
  &.rating-unrated
    background: $colour-rating_unrated
  &.rating-green
    background: $colour-rating_green
  &.rating-yellow
    background: $colour-rating_yellow
  &.rating-red
    background: $colour-rating_red
  &.rating-blue
    background: $colour-rating_blue


#carousel-stories
  .item
    width: 100%
    background: red
    max-height: 30em
    img
      margin: 0 auto
      width: 100%

.description
  border: solid 1px #eeeeee
  padding: 0.5em
  width: 100%
