@import "compass"
@import "_variables"

.story,
.featured_story
  float: left
  list-style: none
  position: relative
  .thumbnail
    position: relative
    margin: 0 auto
    background: white
    border: solid 4px #dddddd
    max-width: none
    overflow: hidden
    padding: 0
  &.length-empty .thumbnail
  &.length-one_page .thumbnail
  &.length-short .thumbnail
    @include box-shadow(#aaaaaa 2px 2px 0)
  &.length-medium .thumbnail
    @include box-shadow(#aaaaaa 4px 4px 0)
  &.length-long .thumbnail
    @include box-shadow(#aaaaaa 6px 6px 0)
  &.length-epic .thumbnail
    @include box-shadow(#aaaaaa 8px 8px 0)
  a
    width: 100%
  .badge
    @include border-radius(1em)
    background: #AF0012
    color: white
    font-family: 'Mouse Memoirs', sans-serif
    letter-spacing: 1px
    padding: 0.5em 1em
    position: absolute
.story
  text-align: center
  height: 130px
  margin-bottom: 4em
  h4
    margin-bottom: 0  
  .thumbnail
    width: 100px
    height: 100px
  .badge
    right: 1.5em
    top: 65px
.featured_story
  text-align: left
  height: 230px
  margin-bottom: 2em
  h3
    margin-top: 0
  .thumbnail
    width: 200px
    height: 200px
  .badge
    bottom: 0.5em
    font-size: 1.25em
    right: 0
  .creators
    margin-bottom: 1em

.rating
  display: inline-block
  width: 0.5em
  height: 0.5em
  vertical-align: middle
  @include border-radius(50%)
  overflow: hidden
  text-indent: -10000em
  &.rating-unrated
    background: $colour-rating_unrated
  &.rating-green
    background: $colour-rating_green
  &.rating-yellow
    background: $colour-rating_yellow
  &.rating-red
    background: $colour-rating_red
  &.rating-blue
    background: $colour-rating_blue


#carousel-stories
  .item
    width: 100%
    background: red
    max-height: 30em
    img
      margin: 0 auto
      width: 100%

.description
  width: 100%
  color: #666666
  font-size: 14px
