.promo
  %h2
    = link_to "http://funtimecomics.bigcartel.com/product/funtime-comic-art-zine-issue-28" do
      = image_tag image_path('funtime_comics_28_cover.jpg'), class: 'img-responsive'
      %h2 Issue 28 Available Now!
  %h3
    = link_to("Buy Issues Online", "http://www.funtimecomics.nz")
